.banner {
  width: 100%;
  height: 600px;
  background-color: #4fbfa5;

  .container {
    .banner__container {
      width: 100%;
      height: 100%;

      /*----------------top------------*/
      .banner__container__top {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: flex;

        .bc__top__left {
          width: 38%;
          height: 100%;

          .bc__top__left__inner {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding-top: 150px;

            .bc__title {
              width: 100%;
              height: 72px;
              display: flex;
              align-items: center;
              font-weight: 700;
              font-size: 3em;
              color: #fff;
              line-height: 72px;
              font-family: "Poppins", sans-serif;
            }
            .bc__subtitle {
              width: 95%;
              height: 100px;
              display: flex;
              align-items: center;
              font-weight: 500;
              font-size: 0.95em;
              line-height: 21px;
              color: #fff;
              font-family: "Poppins", sans-serif;
            }
            .details {
              width: 163px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              text-decoration: none;
              color: #fff;
              text-transform: uppercase;
              background-color: #00868a;
              font-weight: 500;
              font-size: 1em;
              line-height: 21.19px;
              letter-spacing: 5%;
            }
            .arrows {
              width: 100%;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: flex-end;

              div {
                width: 60px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 1.1em;
                cursor: pointer;
                border: 1px solid #fff;
              }
            }
          }
        }
        .bc__top__right {
          width: 58%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      /*----------------bottom------------*/

      .banner__container__bottom {
        width: 100%;
        height: 10%;
        display: flex;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 1.3em;
          line-height: 31.5px;
          cursor: pointer;
          font-family: "Poppins", sans-serif;
        }

        .complex__procedure {
          width: 50%;
          height: 100%;
          background-color: #00868a;
        }
        .centre__learning {
          width: 25%;
          height: 100%;
          background-color: #4fbfa5;
        }
        .vip__clients {
          width: 25%;
          height: 100%;
          background-color: #00868a;
        }
      }
    }
  }
}
